html,
body {
  background-color: black;
  /* color: aliceblue; */
}
ul.navbar {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  text-align: center;
  color: aliceblue;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

div.navbarElement {
  padding: 10px;
  width: 100px;
  height: 100%;
  transition: font-weight 0.1s ease-in;
}
div.navbarElement:hover {
  transition: font-weight 0.1s ease-in;
  font-weight: 800;
  cursor: grab;
}

div.navbarTitle h1 {
  width: 250px;
  text-align: center;
  margin: 0;
}

div.sectionContainer {
  color: aliceblue;
  text-align: left;
  font-size: x-large;
  position: absolute;
  top: 10%;
  width: 80%;
  margin-top: 20vh;
  padding-left: 10vw;
  margin-right: 10vw;
}
div.sectionContainer div.pBody {
  background-color: rgba(128, 128, 128, 0.5);
}

/* about */
div.aboutBackground {
  background: url('/images/aboutBackground.jpg') no-repeat center center fixed;

  background-size: cover;
  height: 100vh;
}

/* Applications */
div.applicationsListContainer {
  color: aliceblue;
  text-align: left;
  font-size: x-large;
  position: absolute;
  top: 10%;
  width: 80%;
  margin-top: 20vh;
  padding-left: 10vw;
  text-align: center;
}
ul.applicationsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}
ul.applicationsList div.applicationCard {
  width: 800px;
  height: 700px;
  margin: 10px;
  overflow-x: hidden;
  border: 1px solid aliceblue;
  /* position: relative; */
}
div.applicationPhoto {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 60%;
}

/* animations */
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
